<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dapper-test" connectionString="Data Source=10.211.55.2;Database=dapper-test;uid=root;pwd=mn;"/>
  </connectionStrings>
  <appSettings>
    <add key="MYSQL_CONNECTION" value="Data Source=10.211.55.2;Database=infomation_schema;uid=root;pwd=mn;"/>
    <add key="SQL_CONNECTION" value="Data Source=.;Database=infomation_schema;uid=root;pwd=mn;"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>