<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dapper-test" connectionString="Data Source=10.211.55.2;Database=dapper-test;uid=root;pwd=mn;"/>
    <add name="THLotteryDB" connectionString="Data Source=192.168.6.101;Database=THLotteryDB;uid=sa;pwd=123456;"/>
  </connectionStrings>
</configuration>