<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="dapper-test" connectionString="Data Source=10.211.55.2;Database=dapper-test;uid=root;pwd=mn;" />
    <add name="THLotteryDB" connectionString="Data Source=192.168.6.101;Database=THLotteryDB;uid=sa;pwd=123456;" />
    <add name="test" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=test;Integrated Security=True;Pooling=False" />
    <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Model.Common.Test.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>